* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6em;
    padding-bottom: 400px;
}

.subtask {
    margin: 20px 0;
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 16px;
}

ul {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
    display: flex;
}

ul > li {
    list-style-type: none;
    padding: 20px;
    background-color: lightpink;
    width: calc(100%/6);
}

ul > li img {
    margin: 0 auto;
    display: block;
}

.clearfix {
    clear: both;
}
li:nth-child(even){
    background-color: lightblue;
}
li:hover{
    background-color: lightblue;
    transform: rotate(360deg);
    transition: ease-in-out 1s;
}
li:first-child{
    display:table-footer-group;
}
#subtask5 li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
#subtask5 li:hover::after {
    content: "IMAGINE THAT";
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1000px) {
    img{
        max-width: 120px;
    }
}
@media (min-width: 600px) and (max-width: 999px) {

    li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:33%;
        padding:100px;
    }
    img{
        width:100px;
    }
}